* {
	margin: 0;
	padding: 0;
	font-family: Georgia;
}

body {
	font-family: Georgia;
}

.container {
	width: 960px;
	margin: 0 auto;
}

.top-page {
	background-color: #373c42;
	display: flex;
	padding: 9px 0;
}

.group-icon,
.top-menu {
	width: 50%;
	display: inline-block;
	float: left;
}

.top-menu {
	text-align: right;
}

.group-icon .icon {
	width: 34px;
	height: 34px;
	background: gray;
	border-radius: 50%;
	float: left;
	text-align: center;
	line-height: 34px;
	margin-right: 10px;
}

.icon a {
	color: #fff;
}

.icon:hover{
	background: red;
}

.group-icon li,
.top-menu li {
	display: inline-block;
	line-height: 34px;
}

.group-icon a {
	display: inline-block;
}

.top-menu a {
	color: #999;
	font-size: 12px;
	text-decoration: none;
	padding: 0 5px;
	border-left: 1px solid;
}
.top-menu a:hover{
	color: #202326;

}

.top-menu li:first-child a {
	border-left: unset;
}

.header-social {
	width: 960px;
	margin: 0 auto;
}

.header {
	background-color: #4c555e;
	display: flex;
}

.logo,
.search-group {
	width: 50%;
	display: inline-block;
	float: left;
}

.logo {
	padding: 50px 0 178px 0
}

.search-group {
	text-align: right;
	font-size: 0;
	padding: 56px 0 180px 0;
}

h1 {
	font-family: Georgia;
	font-size: 26px;
	color: white;
}

span {
	color: #999;
	font-size: 12px;
}

input[type="Search"] {
	width: 220px;
	line-height: 34px;
	border-radius: 5px;
	border: none;
	padding: 0 10px;
	background-color: #65717c;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

input::placeholder {
	color: white;
    font-size: 12px;
}

.seach-btn {
	width: 75px;
	line-height: 34px;
	font-size: 12px;
	background-color: #31363c;
	color: #fff;
	border-radius: 5px;
	border: none;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

.content {
	width: 960px;
	margin-top: -120px;
	margin-left: auto;
	margin-right: auto;
	background: white;
}

.main-menu {
	background-color: #31363c;
	padding: 18px 0;
}

.menu {
	display: inline;
	padding-left: 30px;
	padding: 16.5px;
}
.menu:hover {
	background-color: #202326;
}

.menu a {
	text-decoration: none;
	color: white;
	font-size: 12px;
}

.menu .home-menu {
	width: 70px;
}

.img-slogan {
	width: 850px;
	height: 370px;
	background-color: white;
	border: 1px solid #ccc;
	padding: 10px;
	margin: 0 auto;
	margin-top: 20px;
}

.img-slogan img {
	width: 850px;
	height: 370px;
}

.img-content p {
	position: absolute;
	font-size: 12px;
	color: white;
	margin-top: -40px;
	margin-left: 10px;
	background: #141414;

}

.project-list {
	padding: 40px 0 50px 0;
	
}

.project-list li {
	width: 210px;
	display: inline-block;
	padding-left: 20px;
	text-align: center;
}

.project-list i,
.project-list h4 {
	text-align: center;
}

.project-list h4 {
	font-size: 18px;
	padding-top: 20px;
	color: #4c555e;
}

.project-list i {
    font-size: 64px;
}

.project-list p {
	font-size: 13px;
	padding-top: 27px;
	text-indent: 18px;
	color: #7f7d77;
    line-height: 20px;
    text-align: justify;
}

.slogan {
	border-top: 1px solid #999;
	border-bottom: 1px solid #999;
}

.slogan p {
	font-size: 22px;
	color: #7f7d77;
	padding: 36px 96px 36px 96px;
	text-align: center;
}
.wraper-lastest-img{
	width: 210px;
	display: inline-block;
	padding: 50px 0 54px 0;
	padding-left: 20px;
}
.lastest h4{
	font-size: 18px;
	color: #7f7d77;
}
.lastest{
	line-height: 20px;
	display: flex;
}
.lastest p {
	font-size: 13px;
	color: #7f7d77;
	padding-top: 26px;
}
.lastest a{
	font-size: 13px;
	text-decoration: none;
	color: #4c555e;
}

.lastest a:hover{
	color: #141414;
}

.footer-first, .footer-second, .footer-third{
	width: 33%;
	display: inline-block;

}
.footer-main{
	line-height: 20px;
	border-top:5px solid #e2e2e2;
	border-bottom: 1px solid #bcbcbc;
	background-color: #ededed;
	padding: 30px 0;
}
.footer-main p{
	font-size: 13px;
	color: #7f7d77;
}
.footer-main h4{
	font-size: 12px;
	color: #7f7d77;
}
.footer-main h5{
	font-size: 13px;
	color: #7f7d77;
}
.footer-main a{
	font-size: 13px;
	text-decoration: none;
	color: #4c555e;
}
.footer-main button
{
    background: #4c555e;
    border-radius: 5px;
    color: #fff;
    padding: 10px;
    border: 0;
}


.footer-bottom{
	background-color: #ededed;
	border-top: 1px solid #fff;
	padding: 26px 0;
	color: #7f7d77;
}
.footer-bottom-first, .footer-bottom-second {
	display: inline-block;
	width: 50%;
	float: left;
}
.footer-bottom-second{
	text-align: right;
}